@font-face {
  font-family: secondfontlight;
  src: url(../../fonts/RobotoCondensed-Light.ttf);
}
@font-face {
  font-family: secondfontregular;
  src: url(../../fonts/RobotoCondensed-Regular.ttf);
}
@font-face {
  font-family: secondfontbold;
  src: url(../../fonts/RobotoCondensed-Bold.ttf);
}
