// Colors
$clr1: #2bf;
$clr2: rgba(0, 0, 0, 0.87);
$clr3: #29f;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
